body {
	margin: 0;
	padding: 0;
	background-color: #c6c6c6;
	font: 14px/1.5 Helvetica, sans-serif;
	color: #fff;
}

h1 {
	margin-left: 50px;
}

#wrapper {
	position: relative;
	height: 400px;
	text-align: center;
}

.float-left {
	margin-left: 3px;
	float:left;
	text-align: right;
	width: 25px;
	display: block;
	padding-left: 10px
}

.float-left:nth-child(2n+2) {
	color:red;
}


